@model ProductVM

@inject IHttpContextAccessor HttpContextAccessor
@{ 
    bool isInBag = false;
    var lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>(SessionHelper.ShoppingCart);
    if (lstCart != null && lstCart.Contains(Model.Id))
        isInBag = true;

    var route = isInBag ? "/Remove/{0}" : "/Add/{0}";
    route = string.Format(route, Model.Id);
}

<h2 class="text-info" style="color: #7c0a02">Detalii Produs</h2>

<form action="@route" method="post">

    <div class="p-4 border rounded row">
        <div class="col-8">

            <div class="form-group row">
                <div class="col-4">
                    <label style="color: #7c0a02">Nume Produs</label>
                </div>
                <div class="col-4">
                    <input asp-for="Name" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label style="color: #7c0a02">Pret</label>
                </div>
                <div class="col-4">
                    <input asp-for="Price" readonly class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label style="color: #7c0a02">Descriere</label>
                </div>
                <div class="col-4">
                    @Html.TextArea("Description", Model.Description, new { @class = "form-control", @readonly="readonly" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4"></div>
                <div class="col-8">
                    @if (isInBag)
                    {
                        <button type="submit" value="Remove from bag" class="btn btn-danger form-control" style="color: #7c0a02">Scoate din cos</button>
                    }
                    else
                    {
                        <button type="submit" value="Add to bag" class="btn btn-primary form-control" style="background-color: #7c0a02">Adauga in cos</button>
                    }
                </div>
            </div>

        </div>

        <div class=" col-1">

        </div>

        <div class="col-3">
            <img src="~/@Model.ImagePath" alt="no image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
        </div>
    </div>

    <br/>

    <div class="form-group">
        <a asp-action="Index" class="btn btn-success" style="background-color:#fa8072">Inapoi la Lista de Produse</a>
    </div>

</form>